<% layout('layouts/boilerplate') %>
<div class="container flex-grow-1">
    

    <h1>Driver Details</h1>
    <h2><%= driver.name %></h2>
    <p><b>Contact:</b> <%= driver.email %></p>
    <p><b>Truck #:</b> <%= driver.truckId %></p>
    <p><b>Drives for:</b> <%= driver.company %></p>

    <a href="/drivers">Back to Index</a>
    <br>
    <a href="/driver/<%= driver._id %>/edit" >Edit Driver</a>
    <br>
    <form class="mt-3" action="/driver/<%= driver._id %>?_method=DELETE" method="POST">
        <input class="bg-danger text-light border border-0 rounded p-1 px-2" type="submit" value="Delete Driver">
    </form>
</div>