<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container flex-grow-1">
    

    <h1>Driver Details</h1>
    <h2><%= driver.name %></h2>
    <p><b>Truck #:</b><%= driver.truckId %></p>
    <p><b>Drives for:</b> <%= driver.company %></p>
    <p><b>Contact:</b> <%= driver.email %></p>

    <a href="/drivers">Back to Index</a>
    <br>
    <a href="/driver/<%= driver.id %>/edit" >Edit Driver</a>
    <br>
    <form action="/driver/<%= driver.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Driver">
    </form>
</div>

<%- include('../partials/footer') %>