<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers | <%= driver.name %></title>
</head>
<body>
    <h1><%= driver.name %></h1>
    <p><b>Truck #:</b><%= driver.truckId %></p>
    <p><b>Drives for:</b> <%= driver.company %></p>
    <p><b>Contact:</b> <%= driver.email %></p>
    
    <a href="/drivers">Back to Index</a>
</body>
</html>