<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container flex-grow-1">
    

    <h1>Edit Driver</h1>
    <form method="POST" action="/driver/<%= driverToUpdate.id %>?_method=PATCH">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= driverToUpdate.name %>">
        <br>
        <label for="truckId">Truck #:</label>
        <input type="text" name="truckId" id="truckId" value="<%= driverToUpdate.truckId %>">
        <br>
        <label for="company">Company:</label>
        <input type="text" name="company" id="company" value="<%= driverToUpdate.company %>">
        <br>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" value="<%= driverToUpdate.email %>">
        <br>
        <input type="submit" value="Update Driver">
    </form>
    <br>
    <a href="/driver/<%= driverToUpdate.id %>">Back to Driver Details</a>
</div>

<%- include('../partials/footer') %>