<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

    <h1>All Drivers</h1>
    <ul>
        <% for(let i = 0; i < drivers.length; i++) { %>
            <li><a href="/driver/<%= drivers[i].id %>" title="Click to view driver details"><%= drivers[i].name %></a> - <%= drivers[i].company %></li>
        <% } %>
    </ul>
    <a href="/driver/new">Add New Driver</a>

<%- include('../partials/footer') %>