<% layout('layouts/boilerplate') %>
<div class="container flex-grow-1">
    <h1>Edit Yard</h1>
    <form action="/yard/<%= yard._id %>?_method=PATCH" method="POST">
        <div class="form-group">
            <label for="name">Yard Name</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= yard.name %>">
        </div>
        <div class="form-group">
            <label for="location">Yard Location</label>
            <input type="text" class="form-control" id="location" name="location" value="<%= yard.location %>">
        </div>
        <div class="form-group">
            <label for="capacity">Yard Capacity</label>
            <input type="text" class="form-control" id="capacity" name="capacity" value="<%= yard.capacity %>">
        </div>
        <div class="form-group">
            <label for="status">Yard Status</label>
            <select name="status" id="status">
                <% for(let yardStatus of yardStatuses){ %>
                <option value="<%= yardStatus %>" <% if(yardStatus === yard.status){ %> selected <% } %>><%= yardStatus %></option>
                <% } %>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>

    </form>

    <br>
    <a href="/yard/<%- yard._id %>">Back to Yard Details</a>
</div>