<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

    <div class="container flex-grow-1">

        <div class="container">

            <h1>Yards</h1>

            <ul>

                <% for(let yard of yards) { %>
                    <li>
                        <a href="/yard/<%= yard._id %>" title="Click to view yard details"><%= yard.name %></a> - <%= yard.location %>
                    </li>
                    <% } %>

            </ul>
            <a href="/yard/new">Add New Yard</a>
        </div>

    </div>

<%- include('../partials/footer') %>