<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container flex-grow-1">
    <h1>Add New Yard</h1>
    <form action="/yards" method="POST" >
        <label for="name">Yard Name:</label>
        <input type="text" name="name" id="name" placeholder="Enter yard name">
        <br>
        <label for="location">Yard Location:</label>
        <input type="text" name="location" id="location" placeholder="Enter yard location">
        <br>
        <label for="capacity">Yard Capacity:</label>
        <input type="text" name="capacity" id="capacity" placeholder="Enter yard capacity">
        <br>
        <label for="status">Yard Status:</label>
        <select name="status" id="status">
            <% for(let yardStatus of yardStatuses){ %>
                <option value="<%= yardStatus %>"><%= yardStatus %></option>
            <% } %>
        </select>
        <br>
        <input type="submit" value="Add Yard">
    </form>

    <br>
    <a href="/yards">Back to Index</a>
</div>

<%- include('../partials/footer') %>