<% layout('layouts/boilerplate') %>
    <div class="container flex-grow-1">
        <div class="row border-bottom border-primary border-opacity-50">
            <div class="col-6 d-flex">
                <h1>Yard Details</h1>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center"> <a
                    class="me-3 link-offset-2-hover link-offset-3" href="/yards"><i class="bi bi-arrow-left-short"></i>
                    Back to Index</a>
                <a class="link-offset-2-hover link-offset-3" href="/yards/<%= yard._id %>/edit"><i
                        class="bi bi-pencil-square"></i> Edit</a>
            </div>
        </div>
        <div class="row d-flex justify-content-center my-5">
            <div class="col-12 col-md-6">
                <div class="card text-bg-dark border-light">
                    <div class="card-body">
                        <h5 class="card-title fs-3">
                            <%= yard.name %>
                        </h5>
                        <p class="card-text">
                            <%= yard.location %>
                        </p>
                        <p class="card-text"><b>Capacity:</b>
                            <%= yard.capacity %>
                        </p>
                        <p class="card-text"><b>Status:</b>
                            <%= yard.status %>
                        </p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Trailers
                        </h5>
                        <ul class="list-group list-group-flush">
                            <% if(yard.trailers.length===0){ %>
                                <li class="list-group-item bg-dark border-bottom-0">
                                    <p class="text-light">No trailers currently in this yard.</p>
                                </li>
                                <% } else {%>
                                    <% for(let trailer of yard.trailers){ %>
                                        <li class="list-group-item bg-dark border-bottom-0">
                                            <a class="link-offset-2-hover link-offset-3" href="/trailers/<%= trailer._id %>">
                                                <%= trailer.number %> - <%= trailer.trailerStatus %>
                                            </a>
                                        </li>
                                        <% } %>
                                            <% } %>
                        </ul>
                    </div>
                    <div class="card-body border-top border-light">
                        <div class="row d-flex justify-content-between">
                            <div class="col col-sm-6">
                                <a class="btn btn-dark btn-sm border-light w-100"
                                    href="/yards/<%= yard._id %>/trailers/submission-form">
                                    Start Trailer Count <i class="bi bi-list-check"></i>
                                </a>
                            </div>
                            <div class="col col-sm-6">
                                <form method="POST" action="/yards/<%= yard._id %>?_method=DELETE">
                                    <button
                                        class="btn btn-outline-danger btn-sm w-100"
                                        type="submit">
                                        Delete Yard <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>