<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="container flex-grow-1">
    

    <h1>Edit Trailer</h1>
    <form method="POST" action="/trailer/<%= trailerToUpdate._id %>?_method=PATCH">
        <label for="trailerId">Trailer Number:</label>
        <input type="text" name="trailerId" id="trailerId" value="<%= trailerToUpdate.trailerId %>">
        <br>
        <label for="trailerType">Trailer Type:</label>
        <input type="text" name="trailerType" id="trailerType" value="<%= trailerToUpdate.trailerType %>">
        <br>
        <label for="trailerStatus">Trailer Status:</label>
        <select name="trailerStatus" id="trailerStatus">
            <% for(let trailerStatus of trailerStatuses){ %>
                <option value="<%= trailerStatus %>"><%= trailerStatus %></option>  
            <% } %>
        </select>
        <br>
        <label for="trailerLocation">Trailer Location:</label>
        <input type="text" name="trailerLocation" id="trailerLocation" value="<%= trailerToUpdate.trailerLocation %>">
        <br>
        <input type="submit" value="Update Trailer">
    </form>
    <br>
    <a href="/trailer/<%= trailerToUpdate._id %>">Back to Trailer Details</a>
</div>

<%- include('../partials/footer') %>