<% layout('layouts/boilerplate') %>
    <div class="container flex-grow-1">
        <h1>Trailer Details</h1>
        <p><b>Trailer #:</b>
            <%= trailer.number %>
        </p>
        <p><b>Type:</b>
            <%= trailer.type %>
        </p>
        <p><b>Length:</b>
            <%= trailer.length %>
        </p>
        <p><b>Load Status:</b>
            <%= trailer.loadStatus %>
        </p>
        <p><b>Cleanliness:</b>
            <%= trailer.cleanliness %>
        </p>
        <p><b>Trailer Status:</b>
            <%= trailer.trailerStatus %>
        </p>
        <p><b>Notes:</b>
            <%= trailer.notes %>
        </p>
        <h2>Yard</h2>
        <% if(trailer.yard) { %>
            <p><b>Last location:</b> <a href="/yards/<%= trailer.yard._id %>">
                    <%= trailer.yard.name %>
                </a></p>
            <% } else { %>
                <p><b>Last location:</b> N/A</p>
                <% } %>
                    <div class="d-flex justify-content-start">
                        <a class="me-3 link-offset-2-hover link-offset-3" href="/trailers">Back to Index</a>
                        <a class="link-offset-2-hover link-offset-3" href="/trailers/<%= trailer._id %>/edit">Edit
                            Trailer</a>
                    </div>
                    <form class="my-3" method="POST" action="/trailers/<%= trailer._id %>?_method=DELETE">
                        <input class="bg-danger text-light border border-0 rounded p-1 px-2" type="submit"
                            value="Delete Trailer">
                    </form>
                    <div class="row d-flex justify-content-center my-5">
                        <div class="col-12 col-md-4">
                            <div class="card bg-dark text-light border-light border-3">
                                <h5 class="card-header border-primary border-opacity-50">
                                    # <%= trailer.number %> <span class="fs-6 font-monospace">- current location: <a class="text-info link-offset-2" href="/yards/<%= trailer.yard._id %>"><%= trailer.yard ? trailer.yard.name : 'N/A'; %></a></span>
                                </h5>
                                <div class="card-body">
                                    <h5 class="card-title">Trailer Status: <span class="fs-6 fw-normal <%= trailer.trailerStatus === 'Available' ? 'text-success' : ''; %>"><%= trailer.trailerStatus %></span></h5>
                                    <div class="row d-flex justify-content-evenly my-3">
                                        <div class="col-12"><p class="card-text">Type: <%= trailer.type %></p></div>
                                        <div class="col-12"><p class="card-text">Length: <%= trailer.length %></p></div>
                                        <div class="col-12"><p class="card-text">Load Status: <%= trailer.loadStatus %></p></div>
                                        <div class="col-12"><p class="card-text">Cleanliness: <%= trailer.cleanliness %></p></div>
                                        <div class="col-12"><p class="card-text">Notes: <%= trailer.notes %></p></div>
                                    </div>
                                    
                                    <form class="my-3" method="POST" action="/trailers/<%= trailer._id %>?_method=DELETE">
                                        <button>Delete </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

    </div>