<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

    <div class="container flex-grow-1">

        <h1>Trailer Details</h1>
        <p><b>Trailer #:</b> <%= trailer.trailerId %></p>
        <p><b>Trailer Type:</b> <%= trailer.trailerType %></p>
        <p><b>Trailer Status:</b> <%= trailer.trailerStatus %></p>
        <p><b>Trailer Location:</b> <%= trailer.trailerLocation %></p>

    </div>

<%- include('../partials/footer') %>